<div class="container-fluid ">
  <div class="col-md-3 ">
 
</div>
</div>
<div class="fluido">
<div class="content_info">
                    <div class="content_resalt padding-bottom borders">
                        <!-- title-vertical-line-->
                        <div class="title-vertical-line">
                            <center><h2><span>Noticias</span>Información Actual</h2>
                            <p class="lead">Noticias de la Clinica en el mundo.</p></center>
                        </div>
                        <!-- End title-vertical-line-->

                       <div class="container">
                            <!--Blog Post Items-->
                            <div class="row padding-top">
                                <!--Col Item Blog Post-->
                                <div class="col-md-4">
                                    <!--Item Blog Post-->
                                    <div class="item-blog-post">
                                        <!--Head Blog Post-->
                                        <div class="head-item-blog-post">
                                            <i class="fa fa-calculator"></i>
                                            <h3>Clinica Macías reconocida en italia</h3>
                                        </div>
                                        <!--End Head Blog Post-->  

                                        <!--Img Blog Post-->
                                        <div class="img-item-blog-post">
                                            <img src="/src/public/img/doctor2.jpg" alt="">
                                            <div class="post-meta">
                                                <ul>
                                                    <li>
                                                        <i class="fa fa-user"></i>
                                                        <a href="#">Admin</a>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>Abril 23, 2019</span>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-eye"></i>
                                                        <span>234 Vistas</span>
                                                    </li>
                                                </ul>                      
                                            </div>
                                        </div>
                                        <!--End Img Blog Post-->  

                                        <!--Ingo Blog Post-->
                                        <div class="info-item-blog-post">
                                            <p>La clinica Macías reconocida por el instituto de salud de Italia como una de las mejores clinicas por servicio, seguridad..</p>
                                            <a href="document/Deber de Mycin.pdf" target=»_blank» ><i class="fa fa-plus-circle"></i> Mostrar más</a>
                                        </div>
                                        <!--End Ingo Blog Post-->  
                                    </div>
                                    <!--End Item Blog Post-->  
                                </div>
                                <!--End Col Item Blog Post-->

                                <!--Col Item Blog Post-->
                                <div class="col-md-4">
                                    <!--Item Blog Post-->
                                    <div class="item-blog-post">
                                        <!--Head Blog Post-->
                                        <div class="head-item-blog-post">
                                            <i class="fa fa-database"></i>
                                            <h3 align="left">Evento por navidad de parte de directivos</h3>
                                        </div>
                                        <!--End Head Blog Post-->  

                                        <!--Img Blog Post-->
                                        <div class="img-item-blog-post">
                                            <img src="img/blog-img/thumbs/evento.jpg" alt="">
                                            <div class="post-meta">
                                                <ul>
                                                    <li>
                                                        <i class="fa fa-user"></i>
                                                        <a href="#">Admin</a>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>Diciembre 24, 2019</span>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-eye"></i>
                                                        <span>700 Vistas</span>
                                                    </li>
                                                </ul>                      
                                            </div>
                                        </div>
                                        <!--End Img Blog Post-->  

                                        <!--Ingo Blog Post-->
                                        <div class="info-item-blog-post">
                                            <p align="justify">Los directivos junto al personal de la clinica brindarón un evento a los niños internados en la clincia por las pascuas de navidad que contó con la visita de Papa Noel. .</p>
                                            <a href="#"><i class="fa fa-plus-circle"></i> Ver más</a>
                                        </div>
                                        <!--End Ingo Blog Post-->  
                                    </div>
                                    <!--End Item Blog Post-->  
                                </div>
                                <!--End Col Item Blog Post-->

                                <!--Col Item Blog Post-->
                                <div class="col-md-4">
                                    <!--Item Blog Post-->
                                    <div class="item-blog-post">
                                        <!--Head Blog Post-->
                                        <div class="head-item-blog-post">
                                            <i class="fa fa-cubes"></i>
                                            <h3>Zone Saver</h3>
                                        </div>
                                        <!--End Head Blog Post-->  

                                        <!--Img Blog Post-->
                                        <div class="img-item-blog-post">
                                            <img src="img/blog-img/thumbs/3.jpg" alt="">
                                            <div class="post-meta">
                                                <ul>
                                                    <li>
                                                        <i class="fa fa-user"></i>
                                                        <a href="#">Iwthemes</a>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>April 23, 2015</span>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-eye"></i>
                                                        <span>234 Views</span>
                                                    </li>
                                                </ul>                      
                                            </div>
                                        </div>
                                        <!--End Img Blog Post-->  

                                        <!--Ingo Blog Post-->
                                        <div class="info-item-blog-post">
                                            <p>Accompany relevant share you mean, renewed and information of interest to learn to save you and your projects come true.</p>
                                            <a href="#"><i class="fa fa-plus-circle"></i> View more</a>
                                        </div>
                                        <!--End Ingo Blog Post-->  
                                    </div>
                                    <!--End Item Blog Post-->  
                                </div>
                                <!--End Col Item Blog Post-->
                            </div>
                            <!--End Blog Post Items-->
                        </div>
                        <!-- End Container Blog Post -->
                    </div>
                </div>
                <!-- End Info Content - News Items-->

                